@import '../../../../assets/styles/screen-size.scss';

.currency-select {
  max-width: 10.625rem;
  padding: 0.625rem;
  margin-right: 1.25rem;
  box-sizing: border-box;
  border: 0.0625rem solid var(--primary-border-input-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: var(--classic-background-color);
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:focus {
    border-color: var(--focus-input-color);
    box-shadow: 0 0 0.5rem var(--box-shadow-input-color);
    outline: none;
  }
}

@media screen and (max-width: $mobile-screen-width) {
  .currency-select {
    max-width: 9rem;
  }
}

@media screen and (max-width: $old-mobile-screen-width) {
  .currency-select {
    font-size: 0.75rem;
    max-width: 9rem;
  }
}
