<div class="converter">

  <app-currency-rates [exchangeRates]="exchangeRates" ></app-currency-rates>

  <div class="converter__wrap" [formGroup]="form">

    <div class="converter__firs-currency">
      <app-currency-select
        formControlName="firstCurrency"
        [currencies]="exchangeRates"
        [uranianCurrency]="uranianCurrency">
      </app-currency-select>

      <app-currency-input
        formControlName="firstValue">
      </app-currency-input>
    </div>

    <button
      class="converter__switch-btn"
      (click)="swapCurrencies()">
      Змінити місцями валюти
    </button>

    <div class="converter__second-currency">
      <app-currency-select
        formControlName="secondCurrency"
        [currencies]="exchangeRates"
        [uranianCurrency]="uranianCurrency">
      </app-currency-select>

      <app-currency-input
        formControlName="secondValue"
        [isDisabled]="true">
      </app-currency-input>
    </div>

  </div>
</div>
