:root {
  --primary-font-family: "DM Sans", sans-serif;
  --secondary-font-family: Inter, Roboto, sans-serif;

  --mat-primary-bg-color: bisque;
  --primary-border-color: brown;
  --background-input-color: #f9f9f9;
  --focus-input-color: #66afe9;
  --box-shadow-input-color: rgba(102, 175, 233, 0.6);
  --primary-border-input-color: #ccc;
  --classic-background-color: #fff;
  --hover-primary-background-color: #032e1e;
  --hover-primary-color: rgb(227, 208, 208);
  --secondary-color: darkseagreen;
  --currency-color: coral;
}
